* {
    font-family: Ebrima;
}

body {
    padding :0;
    margin: 0;
    background-image: url(../../img/lea_2.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 100%;
    font-family: ebrima;
}

@media screen and (max-width: 992px) {
    iframe {
        width: 100%;
    }

}


@media screen and (max-width: 992px) {
        body {
            background-image: url(../../img/lea_2.png);
        }
    }

span {
    color : #d67400;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


#logo {
    position: absolute;
    width: 200px;
    left: 162px;
    top: 30px;
    /* boite 1200px max centrée */
    margin: 0 auto;
    /* centrage horizontal d'un display block */
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 1500px) {
    #logo {
        top: 10px;
        left: 15px;
        width: 150px;
    }

}


body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #e7e7e7;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .nav {
    width: 100%;
    z-index: 3;
  }
  
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-family: ebrima, arial;
    font-size: 1.2em;
    transition: all 300ms ease;
  }
  
  .nav li a:hover,
  .nav .menu-btn:hover {
    color : black;
    font-size : 1.4em;
  }
  
  .nav .logo {
    display: block;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .nav .menu-icon .navicon:before,
  .nav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .nav .menu-icon .navicon:before {
    top: 5px;
  }
  
  .nav .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .nav .menu-btn {
    display: none;
  }
  
  .nav .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 60em) {
    .nav li {
      float: left;
    }
    .nav li a {
      padding: 20px 30px;
    }
    .nav .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .nav .menu-icon {
      display: none;
    }
  }

  @media screen and (max-width: 992px) {
      .nav ul {
          background-color: #f4f4f4;
      }

      .nav li a {
        color : black;
      }

  }


.content {
    background-color: #e7e7e7;
}
  

/*********************** edito  **************/

.header {
    max-width: 1200px;
    /* boite 1200px max centrée */
    margin: 0 auto;
    /* centrage horizontal d'un display block */
    padding-left: 10px;
    padding-right: 10px;
    min-height: 90vh;
    display : block;
    
}


    .header h2 {
        display: none;
    }

    .header h1 {
        font-family: ebrima;
        font-size: 3.5em;
        left: 70%;
        position: absolute;
    }

        .header h1 span {
            color: white;
        }

        .header h1 strong {
            color: #a5a5a5;
        }

            @media screen and (max-width: 995px) {

                .header {
                    min-height: 0%;
                }

                .header h2 {
                    display: block;
                }

                .header h1 {
                    display: none;
                }

                    .header h1 span {
                        color: black;
                    }
            }


.edito {
        color: white;
        font-style: italic;
        margin-top: 20%;
        width: 41%;
    }

        @media screen and (max-width: 1500px) {
            .edito {
                margin-top: 150px;
                width: 100%;
                font-size: 1em;
                color : black;
            }
            .edito span {
                text-align: left;
            }
            .edito p {
                text-align: justify;
                padding: 40px;
                padding-top: 50px;
                font-size: 1.4em;
            }
        }

        .edito span {
            font-weight: bold;
            font-size: 30px;
        }




/*********************** content *************/

.interview {
    font-size: 1.5em;
    min-height: 100vh;
    background-image: url("../../trapeze_degrade.png");
    background-repeat: no-repeat;
    background-position: 46% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.interview .question {
    padding : 20px;
}

.interview span {
    color : white ;
}

    @media screen and (max-width:992px) {
        .interview {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: justify;
            min-height : none;
            padding: 40px;
        }
    
        .interview div {
            width: 100%;
    }

}



/************************* Electro swing******************/

.electro {
    display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     min-height : 100vh;
     background-color: #e7e7e7;
    margin-top : 50px;
}

    .electro .content-electro {
        display: flex;

    }

    .electro .content-electro div {
        width: 50%;
        padding : 10px;
    }

        
        .electro .content-electro .video-electro {
            display: flex;
            justify-content : center;
            align-items: center;
        }

 @media screen and (max-width: 992px)  {

    .electro {
        display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin-top: 100px;
    }
    
    .electro .content-electro {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    
    .electro .content-electro .text-electro {
            margin-right: 0;
        }


    .electro .content-electro div {
        width: 90%;
        padding : 10px;
    }

}


/************************* Espace détente******************/


.detente {
    min-height: 100vh;
    display: flex;
     justify-content: center;
     flex-direction: column;
     margin-top: 100px;

}

    .detente .video-detente {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }

    @media screen and (max-width: 992px) {
        .detente{
            padding: 40px;
        }
    }

/************************ Sorties de Janvier *****************/


    .sortie .big-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content : center;
        margin-top: 100px;
    }

    .sortie .content-sortie {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

        .sortie .content-sortie .elements-sortie {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        .sortie .content-sortie .elements-sortie-reverse {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-evenly;
        }

            .sortie .content-sortie .elements-sortie  p,
            .sortie .content-sortie .elements-sortie-reverse  p
            {
                width : 60%
            }



 @media screen and (max-width: 992px)  {

    .sortie .content-sortie .elements-sortie,
    .sortie .content-sortie .elements-sortie-reverse {
        flex-wrap: wrap;

    }

    .sortie .content-sortie .elements-sortie p,
    .sortie .content-sortie .elements-sortie-reverse p{
        width: 90%;
    }

}

/***************** coup de coeur ******************/

.coupdecoeur {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url("../../img/double_trapeze_coup_de_coeur.png");
    background-repeat: no-repeat;
    background-position: 55% 5%; 

}
    .coupdecoeur h1 {
        font-size : 3em;
        padding-top : 50px;
    }

    .coupdecoeur .content-coupdecoeur {
        width : 65%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;
        padding-bottom : 50px;
        padding-top : 20px;

    }

        .coupdecoeur .content-coupdecoeur .element-coupdecoeur  {
            width : 200px;
            margin-top: 45px;
            margin-right: 45px;
        }

@media screen and (max-width: 992px){

    .coupdecoeur h1 {
        font-size : 2em;
    }

    .coupdecoeur .content-coupdecoeur
     {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .coupdecoeur .content-coupdecoeur .element-coupdecoeur {
        width : 120px;
        margin-top: 25px;
        margin-right: 25px;

    }

}

/************* Footer ***************/

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
	font-family: ebrima;
}

	footer img {
		width: 130px;
		height: 60px;
	}


		footer #partenaire {
			display: flex;
			flex-direction: row;
            margin-left: 160px;
		}

            footer #partenaire #iut {
                width: 40px;
                margin: 10px;
            }

		footer #contact {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
            margin-right: 160px;
		}

		footer #contact a {
			color: silver;
			text-decoration: none;
			padding-right: 20px;
			font-size: 1.2em;
		}

			footer #contact a:hover {
				color: white;
				font-size:1.3em;
				transition: ease 0.5s all;
            }

  @media screen and (max-width: 992px) {
        footer {
            justify-content: center;
        }
  }

  .mini-rect{
      width : 60px;
      height: 10px;
      background-color: #d67400;
  }